:root {
  --ASTEROID: hsl(0, 0%, 75%);
  --MOON: hsl(0, 0%, 41%);
  --PLANET: hsl(116, 53%, 30%);
  --GAS-GIANT: hsl(180, 100%, 50%);
  --STAR: hsl(61, 100%, 50%);
  --WORMHOLE: rgb(255, 255, 255);
  --x-axis: hsl(0, 100%, 25%);
  --y-axis: hsl(100, 100%, 10%);
  --hovered: hsl(0, 100%, 75%);
}

.SpaceMap_Main {
  z-index: -10;
}

.SpaceMap_Canvas {
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: inherit;
}

.SpaceMap_SelectedLocation {
  opacity: 0;
  background-color: hsla(0, 0%, 90%, 1);
  z-index: -10;
  position: absolute;
  border: solid;
  border-color: hsl(187, 100%, 50%);
  border-width: .125em;
  border-radius: 0em;
}

.SpaceMap_Tab {
  display: grid;
  grid-template-columns: auto 3em;
  height: 1.5em;
  padding: 0 0 0 0;
  background-color: hsla(0, 0%, 100%, 1);
  align-content: center;
}

.SpaceMap_Name {
  display: block;
}

.SpaceMap_NavBar {
  display: inline-flex;
  height: 1.5em;
  overflow: hidden;
  margin-left: .5em;
}

.SpaceMap_Mini {
  display: inline-block;
  text-align: center;
  color: hsl(0, 100%, 25%);
  height: 1.5em;
  width: 1.5em;
  /* border: solid;
  border-color: hsl(0, 0%, 0%);
  border-width: .125em; */
}

.SpaceMap_Quit {
  display: inline-block;
  text-align: center;
  color: hsl(0, 100%, 25%);
  height: 1.5em;
  width: 1.5em;
  /* border: solid;
  border-color: hsl(0, 0%, 0%);
  border-width: .125em; */
}