:root {
  --ASTEROID: hsl(0, 0%, 75%);
  --MOON: hsl(0, 0%, 41%);
  --PLANET: hsl(116, 53%, 30%);
  --GAS-GIANT: hsl(180, 100%, 50%);
  --STAR: hsl(61, 100%, 50%);
  --WORMHOLE: rgb(255, 255, 255);
  --x-axis: hsl(0, 100%, 25%);
  --y-axis: hsl(100, 100%, 10%);
}

.SpaceMap_Main {
  overflow: hidden;
}

.SpaceMap_Canvas {
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.SpaceMap_SelectedLocation {
  opacity: 0;
  background-color: hsla(0, 0%, 100%, 0.5);
  z-index: -10;
  position: absolute;
  border: solid;
  border-color: rgb(0, 225, 255);
  border-width: .125em;
  border-radius: 5px;
}