.main {
  display: block;
  width: 0;
  height: 0;
  overflow-x: visible;
  overflow-y: visible;
  z-index: -1000;
}

.main-grid {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: auto;
  overflow: visible;
  overflow: visible;
}