.ships-main {
  z-index: inherit;
}

.ships-button {
  z-index: inherit;
}

.ships-grid {
  display: grid;
  row-gap: 1em;
  column-gap: 1em;
  z-index: inherit;
}

.ships-singular {
  display: grid;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  z-index: inherit;
}