.Ships_Main {
  z-index: inherit;
}

.Ships_Button {
  z-index: inherit;
}

.Ships_Grid {
  display: grid;
  row-gap: 1em;
  column-gap: 1em;
  z-index: inherit;
}

.Ships_Singular {
  display: grid;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  z-index: inherit;
}